<html>
  <head>
    <title><%=title%></title>
    <!-- add font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <!-- add bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- adding header navbar partials -->
    <%- include('_header');%>
    <div
          class="h3 pb-2 mb-4 text-secondary border-bottom border-muted fw-bold"
        >ADD ATTENDANCE</div>
    <div class="container text-center">
  <div class="row ">
    <div class="col-1">
      
    </div>
    <div class="col-10">
      <div class="row">
    <div class="col-8 ">
      <!-- create project form  -->
          <form action="/create-project-list" method="post" class="ms-4">
            <div class="form-floating mb-3 col">
              <input
                type="text"
                name="ename"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Employee Name</label>
            </div>
            <div class="form-floating mb-3 col">
              <input
                type="text"
                name="ecode"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Employee Code</label>
            </div>
            <div class="col">
              <div class="form-floating mb-2">
                <select
                  class="form-select form-select-sm mb-2"
                  aria-label=".form-select-lg example"
                  name="department"
                  placeholder="3"
                  id="floatingLabel"
                >
                  <option selected>Select Department</option>
                  <option value="Operation">Operation</option>
                  <option value="Mechanical">Mechanical</option>
                  <option value="Electrical">Electrical</option>
                </select>

                <label for="floatingLabel">Department</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-2">
                <select
                  class="form-select form-select-sm mb-2"
                  aria-label=".form-select-lg example"
                  name="shift"
                  placeholder="3"
                  id="floatingLabel"
                >
                  <option selected>Select Shift</option>
                  <option value="A-Shift">A-Shift</option>
                  <option value="B-Shift">B-Shift</option>
                  <option value="C-Shift">C-Shift</option>
                </select>

                <label for="floatingLabel">Shift</label>
              </div>
            </div>
            <div class="form-floating mb-3 col">
              <input
                type="date"
                name="date"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Date</label>
            </div>
            <div>
            
            
              <button type="submit" class="btn btn-success">
                Add Attendance
              </button>
            </div>
          </form>
          <!-- create project form-End  -->
    </div>
    <div class="col-4 ">
      <form
            action="/projectdetails/filter"
            method="get"
            class="ms-4 border border-muted p-4 shadow p-3 mb-3"
            style="height: 250px; width: 235px"
          >
            <input
              class="m-1 p-1"
              style="width: 198px"
              type="text"
              name="ecode"
              placeholder="search by ecode"
            />
            <input
              class="m-1 p-1"
              style="width: 198px"
              type="text"
              name="department"
              placeholder="filter by name"
            />
            <div class="mb-1">
              <select
                style="width: 198px"
                class="form-select form-select-sm mb-1"
                name="department"
                placeholder="3"
                id="floatingLabel"
              >
                <option selected>Department</option>
                <option value="Operation">Operation</option>
                <option value="Mechanical">Mechanical</option>
                <option value="Electrical">Electrical</option>
              </select>

              <!-- <label for="floatingLabel">Label</label> -->
            </div>

            <input
              class="m-2 p-1 col-11 btn btn-success"
              type="submit"
              value="FILTER"
            />
          </form>
    </div>
    
  </div>
    </div>
    <div class="col-1 ">
      
    </div>
  </div>
  <!-- headline row -->
  <div class="row">
    <div class="col-1">
      
    </div>
    <div class="col-10">
      <div class="h3 text-secondary text-decoration-underline m-3 p-2 fw-bold">ATTENDANCE SHEET</div>
    </div>
    <div class="col-1">
      
    </div>
  </div>
</div>
  <!-- Render attendance list -->
  <div class="row ">
    <div class="col-1 ">
      
    </div>
    <div class="col-10 ">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <!-- Attendance Table -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Employee code</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Department</th>
                <th scope="col">Shift</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <!-- for loop start -->
            <%let c=0 %>
            <%for(let i of project_details){%>

            <tbody>
              <tr>
                <th scope="row"><%=++c%></th>
                <td><%=i.ecode%></td>
                <td><%=i.ename%></td>
                <td><%=i.department%></td>
                <td><%=i.shift%></td>
                <td><%=i.date%></td>
                <td>
                  <a type="button" href="/delete-project/?id=<%=i._id%>">
                    <img
                      src="https://cdn-icons-png.flaticon.com/24/7799/7799917.png"
                    />
                  </a>
                </td>
              </tr>
            </tbody>
            <%}%>

            <!-- for loop end -->
          </table>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col-1 ">
      
    </div>
  </div>
</div>


    </div>
  </body>
</html>
